<p>todo-list works!</p>
<div class="container mt-4">
  <h1>TODO List</h1>

  <form (submit)="addTodo(); $event.preventDefault();" class="mt-3">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="新しいタスクを入力..."
        [(ngModel)]="newTask"
        name="task"
      >
      <button type="submit" class="btn btn-primry">追加</button>
    </div>
  </form>
</div>

<ul class="list-group mt-3">
  <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between align-items-center">
    <span>{{ todo.task }}</span>
    <button class="btn btn-danger btn-sm" (click)="deleteTodo(todo.id)">削除</button>
  </li>
</ul>
